<p>Hi <%= @user.first_name %>,</p>

<p>Welcome to beerandbed.com!</p>

<p>You often get to travel? What about meeting a local from your organisation whilst saving money?</p>
<p>If you have a couch or a free bed at your place, you can also add it so that other members of your organisation can stay at yours when they come to your city.</p>

<p>Thank you for your trust,</p>
<p>See you soon on <%= link_to 'beerandbed.com', root_url %> </p>

<div>
  <%= image_tag 'beerandbed-logo.jpg', width: '200px' %>
</div>
