<p>Bonjour <%= @user.first_name %>,</p>

<p>Bienvenue sur airgabion.com !</p>

<p>Vous êtes passionné de gibier d'eau? Que diriez vous de chasser dans l'une des meilleures installations de la région?</p>
<p>Si vous êtes propriétaire, vous pouvez également ajouter votre hutte pour permettre à d'autres passionnés d'en profiter!</p>

<p>Merci pour votre confiance,</p>
<p>A bientôt sur <%= link_to 'airgabion.com', root_url %> </p>

<div>
  <%= image_tag 'airgabion-logo-03.png', width: '200px' %>
</div>
