.profile-pict {
  border: 2px solid white;
  box-shadow: 0 0 2px rgb(200, 200, 200);
  height: 300px;
  // border-radius: 50%;
}

.other-pict {
  // border: 2px solid white;
  // box-shadow: 0 0 2px rgb(200, 200, 200);
  height: 150px;
  // border-radius: 50%;
}

.step_todo {
  border: 1px solid green;
  box-shadow: 0 0 2px rgb(200, 200, 200);
  padding: 5px;
}

.step_done {
  color: white;
  background-color: green;
  border: 1px solid green;
  box-shadow: 0 0 2px rgb(200, 200, 200);
  padding: 5px;
}
