<div class="map_box">
  <h3><%= territory.name %></h3>
  <h4><%= territory.city %></h4>
    <p><%=image_tag territory.picture.url (:thumb) %></p>
    <p><%= link_to "Voir", territory, class: "btn btn-primary" %></p>
</div>
