<div class= 'container padded'>
  <div class="map-card">
    <div class="row">
      <div class="col-xs-10 col-md-8 col-md-offset-2 text-center">
        <h1>Nouvelle photo pour <%= @bed.name %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-md-6 col-md-offset-4 padded">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
